* {
    margin: 0;

    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 60px;
    width: 126px;
    display: flex;
    align-items: center;

}

.logo {
    margin: 5px;
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url("amazon-logo.jpg");
}

.border {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
}

.border:hover {
    border: 1px solid #fefdfd;
}

.add {
    color: white;
    width: 90px;

}

.add-first {
    margin-left: 13px;
    font-size: 0.8rem;
    color: #959292;

}

.loc {
    display: flex;
}

.add-second {
    margin-left: 3px;
    font-size: 1rem;
}

.nav-search {
    margin-left: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 37px;
    width: 890px;
    position: relative;
    justify-content: space-evenly;
    border-radius: 3px;
}

select {
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #E6E6E6;
    height: 100%;
}

input {
    border: none;
    width: 100%;
    height: 34px;
}

.search-icon {
    height: 37px;
    width: 40px;
    border: none;
    background-color: rgba(244, 172, 4, 0.737);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.language {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.lang {
    border: none;
    background-color: #0f1111;
    color: white;
}

.account {
    color: white;
    margin-left: 10px;
}

.acc-first {
    font-size: 0.8rem;
    margin-left: 4px;
}

.acc-second {
    color: #ffff;
    border: none;
    background-color: #0f1111;
    font-size: 1rem;
}

.order {
    color: #ffff;
    margin-left: 10px;

}

.return {
    font-size: 0.8rem;
}

.order-2 {
    font-size: 1rem;
}

.cart {
    color: #ffff;
    display: flex;
    margin-left: 10px;
}

.cart-text {
    font-size: 1.2rem;
    align-self: flex-end;
}

#cart-icon {
    font-size: 30px;
}

.details {
    height: 39px;
    background-color: rgb(35,47,62);
    color: #ffff;
    display: flex;
    align-items: center;
    padding: 0px 19px;
}
.d-text{
    margin-left: 5px;
}
.detail {
    width: 58px;
    display: flex;
    margin-left: 15px;
    gap: 6px;
    font-size: 1rem;
}
.home{
    display: flex;
    align-items: center;
    gap: 5px;
}
.home-l{
    display: flex;
    gap:15px;
}
.details li{
    display: flex;
    list-style: none;
    color: #ffff;
}
a{
    text-decoration: none;
    color: #ffff;
}
.detail-icon{
    background-color: #11121300;
    border: none;
    color: #ffff;
    font-size: 1.5rem;
}

.content-img{
    height: 600px;
    width: 100%;

}
.hero-img{
    background-image: url(assets/HERO_img.jpg);
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.alert{
    
    display: flex;
    text-align: center;
    align-items: center;
}
.alert-text{
    font-size: 0.9rem;
    margin-top: 250px;
    margin-left: 30px;
    padding-top: 10px;
    width: 1460px;
    height: 30px;
    background-color: #f5f6f6;
    align-items: center;
    
}
.alert-text a{
    color: #007185;
}
.products{
    display: flex;
    background-color: rgb(227,230,230);
    justify-content: space-evenly;
    position: absolute;
    top: 400px;
    width: 100%;
    height: 900px;
    border:none;
    padding:15px
}
.gaming{
   
    width: 350px;
    height: 420px;
    background-color:rgb(255, 255, 255);
    z-index: 1;

}
.gaming-title{
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: 20px;
}
.first-pro{
    position: relative;
    right: 1px;
    display: flex;
    margin-top: 30px;
    
}
.sec-pro{
    display: flex;
    margin-top: 35px;
}
.gaming h5{
    color: #0f1111;
    margin-left: 10px;
}
.gaming a{
    text-decoration: none;
    color:#007185;
}
.mouse p{
    margin-top: 30px;
}
.box{
    width: 350px;
    height: 450px;
    border:none;
    background-color:rgb(255, 255, 255);
    


}
.shop{
    z-index: 1;
}
.refresh{
    z-index: 1;
}
.pc{
    z-index: 1;
}
.shop-title{
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: 20px;
}
.first-pro2{
    position: relative;
    right: 1px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.sec-pro2{
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
}
.shop h5{
    color: #0f1111;
    margin-left: 10px;
}
.shop a{
    text-decoration: none;
    color:#007185;
}
.Dresses p{
    margin-top: 30px;
}
.refresh h5{
    color: #0f1111;
    margin-left: 10px;
}
.refresh a{
    text-decoration: none;
    color:#007185;
}
.Kitchen p{
    margin-top: 30px;
}
.pc a{
    text-decoration: none;
    color:#007185;
}
.p1{
    margin-top: 30px;

}
.products-2{
    background-color:rgb(227,230,230);
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 900px;
    width: 100%;
    height: 500px;
    border:none;
    padding:15px
}
.gadgets{
   
    border:none;
    justify-content: space-evenly;
}
.first-pro-5{ position:relative;
    top: 25px;

}
.sec-pro-5{
    position:relative;
    top: 35px;
    right:5px;
    display: flex;
    justify-content: space-evenly;
}
.gadgets h5{
    color: #0f1111;
    margin-left: 10px;
    margin-top: 10px;
}

.text a{
    text-decoration: none;
    color: #007185;
}
.text{
  position: relative;
  top: 80px;
}
.p-6 a{
    color: #007185;
}
.p-6{
    position: relative;
    top: 12px;
}
.prototype{
    margin-top: 50px;
    margin-left: 46px;
}
.deal button{
    display: inline;
    font-size: 0.8rem;
    background-color: rgb(204,12,57);
    color: white;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
}
.deal-txt{
    margin-left: 5px;
    background-color: white;
    font-size: 0.7rem;
    font-weight:500;
}
.deal a{
    color: rgb(204,12,57);
  
}
.gifts h5{
    color: #0f1111;
}
.h5-txt{
    margin-top: 10px;
    margin-left: 10px;
  
}
.p-7 a{
    color: #007185;
}
.p-7{
    position: relative;
    margin-top: 40px;
}
.trendy h5{
    margin-top: 3px;
    color: #0f1111;
}
.trendy a{
    text-decoration: none;
    color: #007185;
}
.trendyp{
    position: absolute;
    top: 0px;
}
footer{
    height: 500px;
    background-color: #0f1111;
  
}
.btn-back{
    color: #0f1111;
}
.footer-top{
    position: relative;
    top: 730px;
    height: 10px;
    padding:18px;
    background-color: rgb(55,71,90);
}
.back-t{
    text-decoration: none;
    color: white;
  
    text-align: center;
}
.footer-top p{
   text-align: center;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 730px;
    height: 355px;
    background-color: rgb(35,47,62);
}

.f{
  
    width: 230px;
    height: 200px;
    margin-top: 60px;
}
.f h2{
    text-align: center;
    font-size: 16px;
    color: white;
}
.f-l{
  
    display: table-cell;
   
}
.f-l li{
    margin-top: 10px;
    list-style: none;
    font-size: 14px;
}
.footer-end{
    position: relative;
    display: flex;
   justify-content: center;
    align-items: center;
    top: 731px;
    height: 78px;
    background-color: rgb(35,47,62);
}
.logo-a{
    width:80px;
   height:38px;
   display: flex;
   align-items: center;
   color: white;
}
#globe {
   position: relative;
   
}
.info {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}
.info li{
    list-style: none;
    gap: 20px;
    padding: 10px;
    
}
.info li:hover{
    border: 2px solid white;
}
.lang-2{
    position: relative;
    border: none;
    background-color:rgb(35,47,62) ;
    color: white;
 
    
}
.lang-2:hover{
    border: 2px solid white;
}
#en{
    background-color:rgb(35,47,62) ;
    color: white;

}
#usd{
    width: 90px;
    position: relative;
    left: 90px;
    text-align: center;
}
#flag{
display: inline-block;
}